html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin:0;
    padding:0;
    font-family: "Fahkwang", sans-serif;
    background-color: #454545;
    color: #DDDBCB;
    overflow: hidden;
  }

  main.grid {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vh 60vh 20vh;
    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  #headshot {
    grid-column: 2 / span 2;
    grid-row: 1 /span 2;
    width: 360px;
    border-radius: 190px;
    margin: 40px 50px 0 120px;
  }


    .bg-color-change {
        grid-column: 1 / span 8;
        grid-row: 1 / span 3;
        background-color: #DDDBCB;
        p {display: hidden;}
    }

  nav {
    grid-column: 8 / span 12;
    grid-row: 2;
    align-self: end;
    justify-self: center;

    li {
        list-style-type: none;
        font-weight: 700;
        font-size: 5rem;
        margin-top: 10px;
        transition: .5s;
        a {
            text-decoration: none;
            color: #DDDBCB;
        }
        a:hover {font-style: italic;}
    }
    li:hover, li:active {
        margin-left: 10px;
    }
  }


  #content {
    grid-column: 2 / span 6;
    grid-row: 2;
    align-self: center;
    color: #454545;
    overflow-y: scroll;
    max-height: 60vh;


    h1 {
        font-weight: 600;
        font-size: 3rem;
        margin: 0 0 20px 0;
    }
    h2, ul.accordion {
        font-weight: 500;
        font-size: 1.6rem;
        margin: 0 0 0 10px;
    }
    .accordion {
        .content{margin-left: 40px;}
        h3 {margin: 0;}
        a {
            text-decoration: none;
            color: #009FB7;
            font-size: 1.6rem;
            font-style: italic;
        }
        p {
            font-size: 1.2rem;
            margin: 10px 10px;
        }
    }
    .accordion li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    .accordion label {
        font-size: 1.8rem;
        cursor: pointer;
    }

    label::before {
        content: '+';
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
    }

    input[type="radio"]{
        display: none;
    }

    .accordion .content {
        max-height: 0;
        overflow: hidden;
    }

    .accordion input[type="radio"]:checked + label + .content {
        max-height: 400px; 
    }

    .accordion input[type="radio"]:checked + label::before{
        content: '-';
    }

}

.contact {
    h2{
        color:#009FB7;
    }
    h3{
        margin: 5px 0 20px 20px;
    }
}


footer.primary {
    grid-column: 2 / span 8;
    grid-row: 3;
    align-self: end;
    padding: 0;

    ul {padding:0;}
    li {
        display:inline-block;
        padding-right: 10px;
    }
    i {font-size: 2rem;}
}


/* .color-block{
    grid-column: 2 / span 6;
    grid-row: 2;
    background-color: #454545;
    height: 320px;
    align-self: end;
    border-radius: 80px 200px 180px 200px;
} */

.about-me {
    h1{
        text-shadow: 1px 1px #DDDBCB;
    }
    h3 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-left: 10px;
    }
}

dl.details {

    dt{
        font-size:1.6rem;
    }
    dd{
        font-size: 1.2rem;
        padding: 10px 0 10px 0;
    }
}

.resume-content {
    a{
        color:#454545;
        text-decoration: none;
    }
    a:hover{
        color:#009FB7;
    }
}


h2.resume {
margin: 20px 0 0 0;
}


/* ----- Scroll Bar ----- */
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #DDDBCB; 
  }
  ::-webkit-scrollbar-thumb {
    background: #454545; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media screen and (max-width: 1280px) {
    nav {
        display: none;
        background-color: #DDDBCB;
    }

    #content {
        grid-column: 2 / span 9;
    }
    .bg-color-change {
        grid-column: 1 / span 12;
    }


  }